body {
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
  margin: auto;
  height: 255px;
}

.block__content {
  line-height: 1.6;
}

.block__content h2 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px 0 20px;
}

@media (min-width: 768px) {
  img.blog__image{
    height: 600px;
    width: 100%;
  }
  .block__content{
    font-size: 18px;
  }
}
